In [ ]:
import sys

args = sys.argv

f = open(sys.argv[1], 'r')

for line in f.readlines():
    print(line, end='')
    linesp = line.split()
    linesp[2] = [linesp[0], linesp[3], linesp[4]]
    stu_list.append(linesp[2])

f.close()

In [1]:
print(" Student{:>12}{:>17}{:>7}{:>11}{:>10}".format("Name","Midterm","Final","Average","Grade"))
print("---------------------------------------------------------------")
stu_list=[] #학생목록
f = open("students.txt",'r')
for line in f.readlines():
    print(line, end='')
    linesp = line.split()
    linesp[2] = [linesp[0], linesp[3], linesp[4]]
    stu_list.append(linesp[2])
f.close()

 Student        Name          Midterm  Final    Average     Grade
---------------------------------------------------------------
20180001	Hong Gildong	84	73
20180002	Lee Jieun	92	89
20180007	Kim Cheolsu	57	62
20180009	Lee Yeonghee	81	84
20180011	Ha Donghun	58	68

# ============================================

In [46]:
print('Student','\tName','\t     Midterm','  Final','\t  Average', '\tGrade')
print('----------------------------------------------------------------------')
f =open('students.txt', 'r')
stu_dict = {}
for line in f.readlines():
    line=line.strip()
    line1 = line.split('\t')
    average=(int(line1[2])+int(line1[3]))/2
    if average >= 90:
        grade = 'A'
    elif average >= 80:
        grade = 'B'
    elif average >= 70:
        grade = 'C'
    elif average >= 60:
        grade = 'D'
    else:
        grade = 'F'
    line1.append(average)
    line1.append(grade)
    stu_dict[int(line1[0])] = [int(line1[2]), int(line1[3]), line1[4]]
    sorted_s1 = sorted(stu_dict.items(),key=lambda a: a[1][2], reverse=True)
    print(line,' '*7,average,' '*9,grade)
f.close()

Student 	Name 	     Midterm   Final 	  Average 	Grade
----------------------------------------------------------------------
20180001	Hong Gildong	84	73         78.5           C
20180002	Lee Jieun	92	89         90.5           A
20180007	Kim Cheolsu	57	62         59.5           F
20180009	Lee Yeonghee	81	84         82.5           B
20180011	Ha Donghun	58	68         63.0           D

In [41]:
type(line)

str

In [33]:
stu_dict[20180002][2]

90.5

In [36]:
sorted_s1 = sorted(stu_dict.items(),key=lambda a: a[1][2], reverse=True)

In [37]:
print(sorted_s1)

[(20180002, [92, 89, 90.5]), (20180009, [81, 84, 82.5]), (20180001, [84, 73, 78.5]), (20180011, [58, 68, 63.0]), (20180007, [57, 62, 59.5])]

In [14]:
for stu in stu_list:
    print(stu)

['20180001', '84', '73']
['20180002', '92', '89']
['20180007', '57', '62']
['20180009', '81', '84']
['20180011', '58', '68']

In [6]:
a = {}
type(a)

dict

In [17]:
for stu in stu_list:
    average=(int(stu[1])+int(stu[2]))/2
    stu.append(average)
    print(stu)
stu_list[3].sort(reverse=False)

['20180001', '84', '73', 78.5, 78.5, 78.5]
['20180002', '92', '89', 90.5, 90.5, 90.5]
['20180007', '57', '62', 59.5, 59.5, 59.5]
['20180009', '81', '84', 82.5, 82.5, 82.5]
['20180011', '58', '68', 63.0, 63.0, 63.0]

TypeError: '<' not supported between instances of 'float' and 'str'

## show 함수 (전체 학생 정보 출력)