### 자료구조와 순차 자료형
#### 1. 튜플 : 변경 불가능한 순차 자료형

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
#튜플의 튜플을 생성

nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
#튜플로 변환

tuple([4, 0, 2])

(4, 0, 2)

In [4]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

's'

In [10]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False #튜플은 변경 불가능!!

TypeError: 'tuple' object does not support item assignment

In [12]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [13]:
#튜플 이어붙이기

(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [15]:
#튜플에서 값 분리하기

tup = (4, 5, 6)
a, b, c = tup
b

5

In [16]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [18]:
#두 변수의 값 바꾸기
a, b = 1, 2
print(a)
print(b,'\n')
b, a = a, b
print(a)
print(b)

1
2

2
1

In [19]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in seq:
    print('a = {}, b = {}. c = {}'.format(a,b,c))

a = 1, b = 2. c = 3
a = 4, b = 5. c = 6
a = 7, b = 8. c = 9

In [21]:
values = 1, 2, 3, 4, 5
a, b, *rest = values   #*rest: 함수의 시그니처에서 길이를 알 수 없는 인자를 담기 위한 방법!

print(a, b)
print(rest)

1 2
[3, 4, 5]

In [22]:
a, b, *_ = values #로 나타내기도 함. _는 불필요한 변수라는 것을 나타내기 위한 관습적 표현

In [23]:
#튜플 메서드

a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

#### 2. 리스트

In [30]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')

b_list = list(tup)

b_list

['foo', 'bar', 'baz']

In [31]:
b_list[1] = 'peekaboo'
b_list   #리스트는 변경가능!

['foo', 'peekaboo', 'baz']

In [32]:
gen = range(10)
gen

range(0, 10)

In [33]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
#원소 추가하고 삭제하기

b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [35]:
#원하는 위치에 값을 추가

b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [36]:
print(b_list.pop(2))
b_list

peekaboo

['foo', 'red', 'baz', 'dwarf']

In [37]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [38]:
b_list.remove('foo')
b_list #앞부터 삭제

['red', 'baz', 'dwarf', 'foo']

In [39]:
'dwarf' in b_list

True

In [40]:
'dwarf' not in b_list

False

In [41]:
#리스트 이어붙이기

[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [42]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [43]:
#정렬

a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [44]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key = len) #문자열의 길이 순으로 정렬
b

['He', 'saw', 'six', 'small', 'foxes']

In [45]:
#슬라이싱

seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [46]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [47]:
seq[:5]

[7, 2, 3, 6, 3]

In [48]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [49]:
seq[-4:]

[5, 6, 0, 1]

In [50]:
seq[-6:-2]

[6, 3, 5, 6]

In [51]:
seq[::2] #간격 설정

[7, 3, 3, 6, 1]

In [52]:
seq[::-1] #역순으로 반환

[1, 0, 6, 5, 3, 6, 3, 2, 7]

#### 3. 내장 순차 자료형 함수

In [54]:
#enumerate : 색인을 통해 데이터에 접근할 때 유용

some_list = ['foo', 'bar', 'baz']
mapping = {}

for i,v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [55]:
#sorted : 정렬된 새로운 순차 자료형을 반환

sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [56]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [57]:
#zip : 여러개의 자료형을 서로 짝지어 튜플의 리스트를 생성

seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

zipped = zip(seq1, seq2)

list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [58]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{}: {}, {}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [59]:
#reversed :순차 자료형을 역순으로 순회

list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### 4. 사전

In [61]:
empty_dict = {}
d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [62]:
d1[7] = 'an interger'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an interger'}

In [63]:
d1['b']

[1, 2, 3, 4]

In [64]:
'b' in d1 #사전에 key가 있는지 확인

True

In [65]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an interger', 5: 'some value'}

In [66]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an interger',
 5: 'some value',
 'dummy': 'another value'}

In [67]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an interger',
 'dummy': 'another value'}

In [68]:
ret = d1.pop('dummy')
ret

'another value'

In [69]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an interger'}

In [70]:
list(d1.keys())

['a', 'b', 7]

In [71]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an interger']

In [72]:
#하나의 사전을 다른 사전과 합치기

d1.update({'b': 'foo', 'c': 12})  #이미 존재하는 key에 대해서는 값을 수정!
d1

{'a': 'some value', 'b': 'foo', 7: 'an interger', 'c': 12}

In [74]:
key_list = [1, 2, 3, 4, 5]
value_list = ['일', '이', '삼', '사', '오']

mapping = {}  #dictionary
for key, value in zip(key_list, value_list):
    mapping[key] = value
    
mapping

{1: '일', 2: '이', 3: '삼', 4: '사', 5: '오'}

In [80]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [82]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [83]:
#유효한 사전 키 : 해시 가능 (값이 바뀌지 않는 객체만 가능)

hash('string')

-4991045154390890744

In [85]:
hash((1, 2, (2, 3)))

1097636502276347782

In [86]:
hash((1, 2, [2, 3])) #리스트는 변경이 가능하므로 해시 불가능

TypeError: unhashable type: 'list'

#### 5. 집합

In [87]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [88]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [89]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [90]:
a.union(b) #합집합

{1, 2, 3, 4, 5, 6, 7, 8}

In [91]:
a|b #합집합

{1, 2, 3, 4, 5, 6, 7, 8}

In [92]:
a.intersection(b) #교집합

{3, 4, 5}

In [93]:
a&b #교집합

{3, 4, 5}

**파이썬 집합연산**
  
    a.add(x)                    a에 원소 x를 추가  
    a.clear()                   모든 원소를 제거  
    a.remove(x)                 a에서 원소 x를 제거  
    a.update(b)                 a에 a와 b의 합집합을 대입  
    a.intersection_update(b)    a에 a와 b의 교집합을 대입  
    a.difference(b)             a와 b의 차집합

#### 6. 리스트, 집합, 사전 표기법

In [95]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

#길이가 2이상인 문자열을 대문자로 바꾼 리스트
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [96]:
unique_lengths = {len(x) for x in strings}

unique_lengths

{1, 2, 3, 4, 6}

In [97]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [98]:
loc_mapping = {val : index for index, val in enumerate(strings)}

loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [99]:
#각 이름에서 e가 2개 이상 포함된 이름의 목록을 구한다.

all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Matalia', 'Pilar']]

names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [100]:
names_of_interest

['Steven']

In [103]:
result = [name for names in all_data for name in names if name.count('e') >= 2]
result

['Steven']

In [104]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 함수
#### 1. 네임스페이스, 스코프, 지역함수

* 함수 내에서 선언된 변수는 기본적으로 모두 지역 네임스페이스이다.
* 지역 네임스페이스는 함수가 호출될 때 생성되며 함수의 인자를 통해 즉시 생성된다.
* 함수의 실행이 끝나면 지역 네임스페이스는 사라진다.

In [115]:
def func():
    a = []
    for i in range(5):
        a.append(i)
        
#func()함수를 호출하면 빈 리스트 a가 생성되고 다섯개의 원소가 리스트에 추가된다. 그리고 함수가 끝나면 이 리스트 a는 사라진다.

< 함수의 스코프 밖에서 변수에 값을 대입하려면 그 변수를 global 예약어를 이용해 전역변수로 선언해야 함!>

In [117]:
a = None

def bind_a_variable():
    global a
    a = []
bind_a_variable()

print(a)

[]

#### 2. 여러 값 반환하기

In [1]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

#### 3. 함수도 객체다

In [6]:
#엉망인 데이터

states = ['Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [7]:
#위의 문자열 리스트를 정형화
#필요 없는 문장 부호 제거 / 대소문자를 맞추는 작업이 필요

import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value) #value에서 !#?를 ''로 치환
        value = value.title()
        result.append(value)
    return result

In [8]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

#### 4. 익명함수

In [9]:
def short_function(x):
    return x*2

equiv_anon = lambda x: x*2

In [11]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x*2)

[8, 0, 2, 10, 12]

In [12]:
#문자열 리스트를 각 문자열에서 다양한 문자가 포함된 순서로 정렬

strings = ['foo', 'card', 'bar', 'aaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaa', 'foo', 'abab', 'bar', 'card']

#### 5. 커링: 일부 인자만 취하기

In [18]:
def add_numbers(x, y):
    return x+y

In [19]:
#하나의 변수만 인자로 받아 5를 더해주는 함수 만들기

add_five = lambda y: add_numbers(5, y)
add_five(10)

15

In [20]:
#내장 functools모듈의 partial 함수를 이용

from functools import partial
add_five = partial(add_numbers, 5)
add_five(20)

25

#### 6. 제너레이터
순회 가능한 객체를 생성하는 간단한 방법 *return 대신 yield 사용*

In [21]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [22]:
dict_iterator = iter(some_dict)
dict_iterator

In [23]:
list(dict_iterator)

['a', 'b', 'c']

In [24]:
def squares(n=10):
    print('Generating squares from 1 to {}'.format(n**2))
    for i in range(1, n+1):
        yield i**2

In [25]:
gen = squares()
gen

In [26]:
for x in gen:
    print(x, end = ' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [33]:
#제너레이터 표현식

gen = (x**2 for x in range(10))
gen

In [34]:
for x in gen:
    print(x, end=' ')

0 1 4 9 16 25 36 49 64 81

In [35]:
sum(x**2 for x in range(100))

328350

In [36]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### 7. 예외처리

In [37]:
float('1.2345')

1.2345

In [38]:
float('something')

ValueError: could not convert string to float: 'something'

적절하지 않은 입력에 대해서는 입력을 그대로 반환하는 개선된 float함수를 작성한다고 가정하자.

In [39]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [40]:
attempt_float('1.2345')

1.2345

In [41]:
attempt_float('something')

'something'

In [42]:
attempt_float((1,2))

(1, 2)

In [43]:
#error 중에서도 valueerror만 처리하고 싶을 때

def attempt_float(x):
    try:
        return float(x)
    except ValueError : ##### error 종류 #####
        return x

In [44]:
attempt_float('something')

'something'

In [45]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [46]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError) :
        return x

In [ ]:
#예외를 무시하지 않고, tryp블록 코드가 성공적으로 수행되었는지 여부와 관계없이 실행시키고 싶은 코드는 finally

f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

In [ ]:
#try블록이 성공적으로 수행되었을 때만 수행할 코드는 else

f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()