**import 컨벤션**

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm

In [4]:
print('Hello world!')

Hello world!

**자기관찰**

In [ ]:
b = [1, 2, 3]
b? #객체에 대한 일반 정보 출력

In [11]:
def add_numbers(a, b):
    return a + b

add_numbers?? #함수의 소스 코드 출력

### 파이썬 기초
#### 1. 시맨틱

In [14]:
a = [1, 2, 3]
b = a

a. append(4)
b

[1, 2, 3, 4]

In [15]:
def append_element(some_list, element):
    some_list.append(element)

In [16]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [17]:
a = 5
isinstance(a, int)

True

In [18]:
a,b = 5,4.5

isinstance(a, (int,float))

True

In [21]:
isinstance(b, (int, float))

True

In [22]:
#순회가능한 객체인지 검증
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: #iterable 객체 아님
        return False

In [25]:
print(isiterable('a string'))
print(isiterable([1, 2, 3]))
print(isiterable(5))

True
True
False

In [28]:
#내가 만든 모듈
#모듈 임포트 (some_module.py)
import some_module
result = some_module.f(5)
pi = some_module.PI

In [35]:
print(result, pi, sep="\n")

7
3.14159

**2. 날짜와 시간**

In [36]:
from datetime import datetime, date, time

dt = datetime(2011, 10, 29, 20, 30, 21)

print(dt.day)
print(dt.minute)

29
30

In [38]:
dt.date()

datetime.date(2011, 10, 29)

In [39]:
dt.time()

datetime.time(20, 30, 21)

In [40]:
#strftime : datetime을 문자열로 만들어준다.
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [45]:
#strptime : 문자열을 해석하여 datetime 객체로 만들어준다.
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [48]:
#datetime의 필드를 치환
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [50]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt

delta #17일과 7179초만큼의 시간차이

datetime.timedelta(days=17, seconds=7179)

In [51]:
type(delta)

datetime.timedelta

In [52]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [53]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

포맷규칙  
  
%Y : 4자리 연도  
%y : 2자리 연도  
%m : 2자리 월(0제거 하려면 %#m Window, %-m mac)  
%d : 2자리 일  
%H : 시간(24시간 형식)  
%I : 시간(12시간 형식)  
%M : 2자리 분  
%S : 초
%w : 정수로 나타낸 요일[0:일요일,6]  
%U : 연중 주차(일요일이 첫날)  
%W : 연중 주차(월요일이 첫날)  
%F : %Y-%m-%d 형식에 대한 축약  
%D : %m/%d/%y 형식에 대한 축약

**3. 흐름제어**

In [54]:
x = 6

if x<0:
    print("It's negative")
elif x ==0:
    print('Equal to zero')
elif 0<x<5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

Positive and larger than or equal to 5

In [55]:
4 > 3 > 2 > 1

True

In [57]:
sequence = [1, 2, None, 4, None, 5]
total = 0

for value in sequence:
    if value is None:
        continue
    total += value
    
print(total) #None을 건너뛰고 리스트 내 정수를 더한다.

12

In [58]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_unit_5 = 0

for value in sequence:
    if value == 5:
        break
    total_unit_5 += value
    
print(total_unit_5) #5를 만날 때까지 모든 원소를 더한다.

13

In [59]:
x = 256
total = 0

while x > 0:
    if total > 500:
        break
    total += x
    x = x//2
    
print(total) #256 + 128 + 64 + 32 + 16 + 8

504

In [65]:
#pass 사용이유? 파이썬이 공백문자를 블록을 구분하는 데 사용하기 때문
#pass : 블록 내에서 어떤 작업도 실행하지 않을 때 사용. (코드를 나중에 추가하기 위한 용도로도 사용!)

if x < 0:
    print('negative!')
elif x == 0:
    #to do : print('equal to zero')
    pass
else:
    print('positive!')

In [66]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [68]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]
    print(val)

1
2
3
4

In [70]:
sum = 0

for i in range(100000):
    if i%3 == 0 or i%5 == 0:
        sum += i

print(sum) #3또는 5의 배수 더하기

2333316668

In [73]:
#삼향 표현식

x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'